form#login-view.login-form

	.content

		h1 JumpCloud

		.alert.alert-danger.ng-cloak(ng-show="loginError") {{loginError}}

		.form-group
			input.form-control.autofill(type="text", ng-model="login.email", placeholder="Email")

		.form-group
			input.form-control.autofill(type="password", ng-model="login.password", placeholder="Password")

		button.btn.btn-default(ng-click="submit($event)") Log In

	.login-footer
		span.highlight-link(ng-click="showSignup()") Sign up